<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style2.css">
</head>
<body>
  <!-- <div class="container"> -->
    <div class="register-container">
      <div class="form-section">
      <h1>Register</h1>

    <form  action="/register" method="post">
      <!-- <div > -->

      <input type="text" name="name" placeholder="Name" required>
      <input type="email" name="email" placeholder="Email" required>
      <input id = "hars" type="password" name="password" placeholder="Password" required>
      <!-- <input type="text" name="phone" placeholder="Phone" required> -->
      <!-- <input type="text" name="address" placeholder="Address" required> -->
      <!-- <textarea id="hars2"name="details" placeholder="Farm/Company Details" required></textarea> -->
      <!-- <select name="role" id="hars3">
        <option value="farmer">Farmer</option>
        <option value="contractor">Contractor</option>
      </select> -->
      <button type="submit">Register</button>
      <a href="/login" class="login-link">Already have an account? Login here</a>

      <!-- </div> -->
    </form>
  </div>
    <div class="image-section">
      <img src="https://t4.ftcdn.net/jpg/01/95/62/23/360_F_195622318_dv7HBiS8eK6NawFOUeZZBcB149VFO86s.jpg" alt="Recycling">
  </div>
    <!-- </div> -->
  </div>
</body>
</html>