<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style1.css">
</head>
<body>
  <div class="logo-container">
    <a href="/">
      <img src="https://static.vecteezy.com/system/resources/previews/000/644/117/original/vector-recycle-icon-symbol-sign.jpg" alt="Logo" class="logo" />
    </a>
  </div>
  <div class="login-container">
    <!-- <div > -->
      <div class="form-section">
      <h1>Login</h1>

    <form class="form-section" action="/login" method="post">

      <input type="email" name="email" placeholder="Email" required>
      <input id="hars1" type="password" name="password" placeholder="Password" required>
      <!-- <select id="hars3"name="role">
        <option value="farmer">Farmer</option>
        <option value="contractor">Contractor</option>
      </select> -->
      <button type="submit">Login</button>
      <a href="/register" class="register">Don't have an account? Register here</a>

    </form>
  </div>
    <div class="image-section">
      <img src="https://t4.ftcdn.net/jpg/01/95/62/23/360_F_195622318_dv7HBiS8eK6NawFOUeZZBcB149VFO86s.jpg" alt="Recycling">
  </div>
    <!-- </div> -->
  </div>
</body>
</html>
